.banner{
  background-image: url("../assets/banner.png");
  background-size:cover;
  background-repeat: no-repeat;
  height: 100px;
}

.logoFont{
  font: italic bold 40px Comic Sans MS, Comic Sans, cursive;
}
